@{
	Layout = "~/Views/Shared/_Layout_Blank.cshtml";
}


<div class="middle-box text-center loginscreen  animated fadeInDown" ng-controller="registerCtrl as vm">
	<div>
		<div>

			<h1 class="logo-name"><img src="~/images/logo_activa.png" /></h1>

		</div>
		<h3>DGED El Atabal</h3>
		<div @*ng-if="vm.paso==1"*@>
			
			
		</div>
		
		<form class="m-t" name="registro" role="form" ng-submit="vm.registrar()">
			<div @*ng-if="vm.paso == 2"*@>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="DNI/NIE*" ng-model="vm.dni" required="">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Nombre*" ng-model="vm.nombre" required="">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Apellidos*" ng-model="vm.apellidos" required="">
				</div>
				<div class="form-group">
					<input type="email" class="form-control" placeholder="Email*" ng-model="vm.email" required="">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Teléfono*" ng-model="vm.telefono" required="">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Teléfono alternativo" ng-model="vm.telefonoAlt" />
				</div>
				<div class="form-group" ng-class="{'has-error':vm.userExist}">
					<input type="text" class="form-control" placeholder="Usuario*" name="usuario" required="" ng-model="vm.user" userunique>
					<small ng-if="vm.userExist">El usuario ya existe</small>
				</div>
				<div class="form-group">
					<input type="password" class="form-control" placeholder="Contraseña*" required="" ng-model="vm.pass" pattern=".{8,}" title="La contraseña debe tener mínimo 8 caracteres">
				</div>
				<div class="form-group">
					<input type="password" class="form-control" placeholder="Confirmar contraseña*" required="" ng-model="vm.confirmPass">
				</div>
				<select class="form-control" ng-model="vm.numHijos" required="" ng-change="vm.inicializarHijos()">
					<option value="" selected="" disabled>Hijos*</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
				</select>
			</div>
			<div @*ng-if="vm.paso==3"*@>
				<div ng-repeat="h in vm.getNumHijos() track by $index">
					<h4>Hijo/a {{$index+1}}</h4>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Nombre*" ng-model="vm.hijos[$index].nombre" required="">
					</div>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Apellidos*" ng-model="vm.hijos[$index].apellidos" required="">
					</div>
					<div class="form-group">
						<div class="dropdown no-link">
							<a class="dropdown-toggle" id="facheNacimiento{{$index}}" role="button" data-toggle="dropdown" data-target="#" href="#">
								<div class="input-group">
									<input type="text" placeholder="Fecha de nacimiento*" class="form-control" ng-model="vm.hijos[$index].nacimiento" required><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
								</div>
							</a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
								<datetimepicker data-ng-model="vm.hijos[$index].nacimiento" data-datetimepicker-config="{ dropdownSelector: '#facheNacimiento'+$index,startView:'year',minView:'day' }"/>
							</ul>
						</div>
					</div>
					<div class="form-group">
						<select class="form-control" ng-model="vm.hijos[$index].sexo" required="">
							<option value="" selected="" disabled>Sexo*</option>
							<option value="M">Niño</option>
							<option value="F">Niña</option>
						</select>
					</div>
					<div class="form-group">
						<label>Deportes*</label><br />
						<div isteven-multi-select
							 input-model="vm.hijos[$index].deportes"
							 output-model="vm.hijos[$index].deporteSelected"
							 button-label="nombre"
							 item-label="nombre"
							 tick-property="ticked"
							 helper-elements=""
						     max-labels="2" 
							 required>
						</div>
					</div>
					<div class="form-group">
						<div class="checkbox">
							<input type="checkbox" ng-model="vm.hijos[$index].extraescolares"><label>Marque esta casilla si está dado de alta en las extraescolares o el 50% de las extraescolares del Colegio El Atabal</label>
						</div>
					</div>
					<div class="form-group">
						<div class="checkbox">
							<input type="checkbox" ng-model="vm.hijos[$index].pack" ng-true-value="1" ng-false-value="0"><label> Marque esta casilla si quiere el pack de ropa por 70€ (incluye chándal, 2 camisetas, pantalón corto y calcetas blancas)</label>
						</div>
					</div>
					<div class="form-group">
						<select class="form-control" ng-model="vm.hijos[$index].talla" ng-required="vm.hijos[$index].pack==1" ng-if="vm.hijos[$index].pack==1">
							<option value="" selected="" disabled>Talla*</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="6">6</option>
							<option value="8">8</option>
							<option value="10">10</option>
							<option value="12">12</option>
							<option value="xs">XS</option>
							<option value="s">S</option>
							<option value="m">M</option>
							<option value="l">L</option>
							<option value="xl">XL</option>
						</select>
					</div>
					<div class="form-group">
						<input type="number" class="form-control" placeholder="Número que desea llevar en la equipación*" required="" ng-model="vm.hijos[$index].numero">
						<small>En caso de número repetidos, se asignará por orden de inscripción</small>
					</div>
					<div class="form-group">
						<textarea class="form-control" rows="4" ng-model="vm.hijos[$index].observaciones" placeholder="Observaciones"></textarea>
					</div>
				</div>
					<div class="form-group">
						<div class="checkbox"> <input type="checkbox" ng-model="vm.autorizacion" required=""><label ng-click="vm.openAutorizacion()" class="alert-link pointer"> He leído y acepto las <abbr title="Ver condiciones">condiciones</abbr> para inscribir a mi hijo/a/os/as en el Club Deportivo Atabal 2017/18 </label>
						</div>
					</div>
				
				<button type="submit" class="btn btn-primary block full-width m-b">Registrar</button>
			</div>
		</form>
		@*<button class="btn btn-default m-r-lg" type="button" ng-click="vm.anteriorPaso()" ng-disabled="vm.paso==1">Anterior</button>
		<button class="btn btn-default m-l-lg" type="button" ng-click="vm.siguientePaso()" ng-disabled="vm.paso==3">Siguiente</button>*@
	</div>
</div>

<script type="text/ng-template" id="modalAutorizacion.html">
	<form role="form">
		<div class="color-line"></div>
		<div class="modal-header modal-header-small text-center">
			<h4 class="modal-title">Autorización</h4>
		</div>
		<div class="modal-body" style="overflow:hidden;">
			<p>
				- Autorizo a mi hijo a participar en las actividades que el Club Deportivo Atabal organice durante la temporada 2017/18<br /><br/>
				- Autorizo al Club Deportivo Atabal a un uso pedagógico de las imágenes tomadas en actividades lectivas, complemetarias y extraescolares organizadas por el colegio y su posterior publicación en la página web del centro.<br /><br />
				- Me hago responsable de eventuales lesiones que pudieran derivarse como consecuencia de la práctica ordinaria de las actividades propias de la escuela deportiva (ya que las competiciones en las que participamos no cuentan con seguros de lesiones)<br /><br />
				- Declaro que mi hijo/a no padece ninguna enfermedad o patología que le impida realizar la actividad físico-deportiva en la que lo/a inscribo, renunciando expresamente a exigir responsabilidad alguna por las eventuales lesiones que pudieran derivarse como consecuencia de la práctica ordinaria
				de las actividades propias de la escuela deportiva. Esta autorización se extiende a la decisiones médico-quirúrgicas que en caso de extrema urgencia y en las que no quepa consulta previa, fuese necesario adoptar la adecuada prescripción facultativa.
			</p>
		</div>
		<div class="modal-footer modal-footer-small">
			<button type="button" ng-click="vm.closeModal()" class="btn btn-default">Cerrar</button>
		</div>
	</form>
</script>

@section scripts {
	@Scripts.Render("~/bundles/register/js")
}
