@{
    ViewBag.Title = "Equipos";
}

<div ng-controller="equiposCtrl as vm">
    <div class="small-header">
        <div class="hpanel">
            <div class="panel-body">
                <h2 class="font-light m-b-xs">
                    Equipos
                </h2>
                <small>Panel de gestión de los equipos.</small>
            </div>
        </div>
    </div>
    <div class="normalheader animated zoomIn">
        <div class="row">
            <div class="col-md-12">
                <div class="hpanel">
                    <div class="panel-body" style="margin-bottom:20px;">
                        <h2>Equipos</h2>
	                    <div class="row">
		                    {{vm.equipo}}
	                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/equipos/js")
}
