<div id="right-sidebar" class="animated fadeInRight">
    <div class="p-sm border-bottom">
        <button id="sidebar-close" class="right-sidebar-toggle sidebar-button btn btn-default m-b-md">
            <i class="pe pe-7s-close"></i>
        </button>
        <div class="clearfix"></div>
        <div class="stats-icon pull-right">
            <i class="pe-7s-portfolio fa-4x"></i>
        </div>
        <div class="stats-title pull-left">
            <h3>{{vm.session.usuario}}</h3>
        </div>
        <div class="clearfix"></div>
        <h5>{{vm.session.nombre}}</h5>
    </div>
    <div class="p-sm bg-light border-bottom">
        <span class="font-bold no-margins">Alertas</span>
        <div class="m-t-xs">
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="m-t-xs m-b-xxs"></h3>
                </div>
            </div>
        </div>
    </div>
</div>