@{
	ViewBag.Title = "Entrenamientos";
}

<div ng-controller="entrenamientosCtrl as vm">
	<div class="small-header">
		<div class="hpanel">
			<div class="panel-body">
				<h2 class="font-light m-b-xs">
					Entrenamientos
				</h2>
				<small>Panel de gestión de los entrenamientos.</small>
			</div>
		</div>
	</div>
	<div class="normalheader animated zoomIn">
		<div class="row">
			<div class="col-md-12">
				<div class="hpanel">
					<div class="panel-heading hbuilt text-right">
						<button class="btn btn-success" id="btnNewEvento" data-toggle="tooltip" data-placement="bottom" title="Añadir Entrenamiento" ng-click="vm.addEntrenamiento()">
							<i class="fa fa-plus-circle" aria-hidden="true"></i>
						</button>
					</div>
					<div class="panel-body" style="margin-bottom:20px;">
						<div class="row">
							<div class="row m-t-lg">
								<div class="col-md-12">
									<div class="table-responsive">
										<table class="table table-striped table-hover table-condensed table-bordered text-nowrap" st-table="vm.entrenamientos_disp" st-safe-src="vm.entrenamientos">
											<thead>
												<tr>
													<th class="text-center pointer" st-sort="nombre">NOMBRE</th>
													<th class="text-center pointer" st-sort="tipo">TIPO</th>
													<th class="text-center">DESCRIPCIÓN</th>
													<th class="text-center pointer" st-sort="duracion">DURACIÓN</th>
													<th class="text-center">#</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="item in vm.entrenamientos_disp track by $index">
													<td class="text-center">{{item.nombre}}</td>
													<td class="text-center">{{item.tipo}}</td>
													<td class="text-center">{{item.descripcion | limitTo: 200p}}</td>
													<td class="text-center">{{item.duracion}} minutos</td>
													<td class="text-center">
														<button class="btn btn-default btn-sm" ng-click="vm.editEntrenamiento(item)"><i class="fa fa-pencil"></i></button>
														<button class="btn btn-danger btn-sm" ng-click="vm.deleteEntrenamiento(item)"><i class="fa fa-trash-o"></i></button>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/ng-template" id="modalEntrenamiento.html">
	<form role="form">
		<div class="color-line"></div>
		<div class="modal-header modal-header-small text-center">
			<h4 class="modal-title">Entrenamiento</h4>
		</div>
		<div class="modal-body" style="overflow:hidden;">
			<div class="col-sm-12">
				<div class="col-sm-6"ng-class="{'has-error':vm.errorNombre}">
					<label>Nombre</label>
					<input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre del entrenamiento" ng-model="vm.nombre" />
				</div>
				<div class="col-sm-6" ng-class="{'has-error':vm.errorTipo}">
					<label>Tipo</label>
					<select id="ddTipo" name="ddTipo" class="form-control" ng-model="vm.tipo">
						<option value="1">Tipo 1</option>
						<option value="2">Tipo 2</option>
						<option value="3">Tipo 3</option>
					</select>
				</div>
				<div class="col-sm-12" ng-class="{'has-error':vm.errorDescripcion}">
					<label>Descripción</label>
					<textarea id="descripcion" name="descripcion" class="form-control" placeholder="Descripción del entrenamiento" rows="6" ng-model="vm.descripcion" />
				</div>
				<div class="col-sm-6" ng-class="{'has-error':vm.errorDuracion}">
					<label>Duración</label>
					<input type="text" class="form-control" placeholder="Duración en minutos" ng-model="vm.duracion"/>
				</div>

			</div>
		</div>
		<div class="modal-footer modal-footer-small">
			<button type="button" ng-click="vm.closeModal()" class="btn btn-danger">Cancelar</button>
			<button type="submit" class="btn btn-success" ladda="vm.saving" data-style="zoom-in" ng-click="vm.aceptar()">Guardar</button>
		</div>
	</form>
</script>

@section scripts {
	@Scripts.Render("~/bundles/entrenamientos/js")
}
